@media only screen
and (min-device-width : 320px)
and (max-device-width : 560px) {
  .Resume > div {
    padding: 5px 15px;
  }
  .Resume > div > h2 {
    width: 25px;
    margin-bottom: 20px;
  }
  .left > h2 {
    width: 25px;
    margin: 16px 0;
    text-align: center;
  }

}
.Resume {
  display: grid;
  grid-gap: 5px;
  grid-template: 1fr / 1fr 3fr;
  padding: 5px 0;
}

.Resume > div:nth-child(odd) {
  background-color: #e8e8e8;
  padding: 5px 15px;
}

.Resume > div:nth-child(even) {
  background-color: #f4f4f4;
  padding: 5px 20px;
}

.Resume > div > h2 {
  text-transform: uppercase;
  white-space: pre-wrap;
  letter-spacing: -2px;
}

.Resume > div > ul > li > span {
  display: block;
}

.main-title > h2 {
  font-size: 28px;
}

.main-title > p > span > img {
  width: 50px;
  margin: 0 15px;
}

.skills > li {
  margin: 10px 0;
}
